.project-img {
  height: 10hv;
  width: 10vw;
  border-radius: 1rem;
  padding: 1rem;
}

.project-img:hover {
  visibility: visible;
  background-color: rgb(255, 221, 210);
  height: 15hv;
  width: 15vw;
}

/* div.skills.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 30vw;
  margin: 1rem;
  background-color: rgb(237, 246, 249);
} */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

button {
  margin-bottom: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 50vh;
}

/* .cards.skills {
  height: 12vh;
}

.title-header.card-header {
  border-radius: 1rem;
  margin: 1rem;
  color: rgb(0, 109, 119);
  font-size: 1.5rem;
} */