img {
  height: 7hv;
  width: 7vw;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 30vw;
  margin: 5rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

button {
  margin-bottom: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 20vh;
}

.cards.skills {
  height: 12vh;
}

.card-header {
  margin: 1rem;
}