.project-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-img {
  height: 12rem;
  width: 20rem;
}

.list {
  list-style: none;
}

.card {
  border: 2px solid rgb(119, 193, 182);
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}
